main{
    overflow: hidden;
}   
.firstText,.card-body{
    font: 500 16px/1.25 Graphik,sans-serif;
}
@media (max-width: 768px) {
    section{
        position: relative;
    }
    .firstText{
        margin: 20px;
    }
    .brIn{
      display: none;
    }
    .joinLett{
      align-items: center;

    }
    input{
      width: 70%;
    }
    .paymentImage{
      margin-left: 35px;
      margin-top: 20px;
    }
    .navbar{
      background-color: #292b2c;
    }

}


.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .productCards {
    
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
 

  /* from internet */
  .cursor {
    position: relative;
}
.cursor i {
    position: absolute;
    width: 0.8px;
    height: 12px;
    background-color:black;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    opacity: 1; 
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

.cnt1-3txt:hover{
  text-decoration: underline;
  cursor: pointer;
}

footer,h5{
  font-weight: bold;
}

